@page "/about"
<!-- About -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="raftitle d-flex align-items-center justify-content-center vh20">About</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 rafdark p-5">
                <strong>Hello,</strong><br><br>
                <p>My name is Raf, natural problem solver and keen learner always looking for optimal solutions. This website is built to give you an overview of my coding skills. Programming for me is a great opportunity to connect the dots and solve puzzles through logical thinking yet using all applicable knowledge. I hope you will enjoy seeing my work as much as I enjoyed coding it!
                </p>
                <div class="pt-3">
                    <a href="img/CV Rafal Rucinski.pdf" target="_blank" class="btn raflight" download="CV Rafal Rucinski.pdf">Download my CV</a>
                </div>
            </div>

            <div class="col-sm-6 raflight p-5">
                <strong>Points</strong><br><br>
                -	20+ years of business experience<br>
                -	Languages: Polish, English, French, C#, HTML, CSS, JavaScript, C++<br>
                -	Focused, goal oriented and a good team player<br>
                -	MBA, Master degree in Marketing and BA in Logistics<br>
                -	C# and C++ certificates holder
                <div class="pt-3">
                    <a href="img/RafsCertificates.zip" target="_blank" class="btn rafdark" download="RafsCertificates.zip">Download my certificates</a>
                </div>


            </div>
            
        </div>

        <div class="row">
            <div class="col striph"></div>
        </div>
    </div>
        

</section>

@code {

}
