@page "/about"
<!-- About -->
<section>
    <div class="container-fluid">
        <!-- title -->
        <div class="row">
            <div class="col">
                <div class="raftitle d-flex align-items-center justify-content-center vh10"><h3>About</h3></div>
            </div>
        </div>
        <!-- end of title -->

        <div class="row">
            <div class="col-sm-6 rafdark p-5">
                <strong>Hello,</strong><br><br>
                <p>
                    My name is Raf, natural problem solver and keen learner always looking for optimal solutions. This website is built to give you an overview of my coding skills. Programming for me is a great opportunity to connect the dots and solve puzzles through logical thinking yet using all applicable knowledge. I hope you will enjoy seeing my work as much as I enjoyed coding it!
                </p>
                <div class="pt-3">
                    <a href="img/RafalRucinskiCV.pdf" target="_blank" class="btn raflight">View my CV</a>
                </div>
            </div>

            <div class="col-sm-6 raflight p-5">
                <strong>Key points</strong><br><br>
                <ul>
                    <li>C# and C++ certificates holder</li>
                    <li>Languages: English, French, Polish, C#, HTML, CSS, JavaScript, C++</li>
                    <li>Focused, goal oriented and a good team player</li>
                    <li>MBA, Master degree in Marketing and BA in Logistics</li>
                    <li>20+ years of business experience</li>

                </ul>
                <div class="pt-3">
                    <a href="img/Certificates.pdf" target="_blank" class="btn rafdark">View my Certificates</a>
                </div>


            </div>

        </div>

        <div class="row">
            <div class="col striph"></div>
        </div>
    </div>
        

</section>

@code {

}
