@page "/about"
<!-- About -->

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 rafdark p-5">
                <strong>Hello,</strong><br><br>
                Welcome to my website.
                I’m Raf and this page will give you an overview of my coding skills.
                As a born problem solver programing for me is before all a great opportunity
                to connect the dots and solve puzzles by using logic and knowledge.
            </div>
            <div class="col-sm-6 raflight p-5">
                <strong>Points</strong><br><br>
                -	20+ years of business experience<br>
                -	Languages: Polish, English, French, C#, HTML, CSS, JavaScript, C++<br>
                -	Focused, goal oriented and a good team player<br>
                -	MBA, Master degree in Marketing and a BA in Logistics<br>
                -	C# and C++ certificates holder


            </div>
        </div>
        <div class="row">
            <div class="col striph"></div>
        </div>
    </div>

</section>

@code {

}
