 @page "/cpp"
    <!-- C++ projects -->
<section>
    <div class="container-fluid raftitle">
        <!-- title -->
        <div class="row">
            <div class="col">
                <div class="raftitle d-flex align-items-center justify-content-center vh20"><h3>C++ Projects</h3></div>
            </div>
        </div>
        <!-- end of title -->
        <div class="row no-gutters">
            <!-- single prokect -->
            <div class="col-sm-4 rafdark outside">
                <div class="px-3 py-5 text-center">
                    MEMORY<br>
                    Joyful memory game. try to remember and reproduce the sequence of lights and sounds. Each round is more complicated.<br>
                    #C++ #sounds #logic

                </div>
                <div class="text-center px-5"><img src="img/memorycpp.png" class="img-fluid img-thumbnail" alt="strp" ></div>
                <div class="px-3 p-4">
                    <a class="button btn raflight" href="https://github.com/Rafrucin/MemoCPP" target="_blank">Github</a>
                </div>
                <div class="striph inside"></div>
            </div>
            <!-- end of single project -->
            <!-- single prokect -->
            <div class="col-sm-4 raflight outside">
                <div class="px-3 py-5 text-center">
                    ARKANOID<br>
                    Introducing some action in flat forms by using timers for movement together with sounds.<br>
                    #C++ #animation #sounds

                </div>
                <div class="text-center px-5"><img src="img/arkanoid.png" class="img-fluid img-thumbnail" alt="strp"></div>
                <div class="px-3 p-4">
                    <a class="button btn rafdark" href="https://github.com/Rafrucin/ArkanoidCPP" target="_blank">Github</a>
                </div>
                <div class="striph inside"></div>
            </div>
            <!-- end of single project -->
            <!-- single prokect -->
            <div class="col-sm-4 rafdark outside">
                <div class="px-3 py-5 text-center">
                    TIC TAK TOE<br>
                    A must do for every software developer. This is where all begun.<br>
                    #C++ #sound #logic
                </div>
                <div class="text-center px-5"><img src="img/tictactoe.png" class="img-fluid img-thumbnail" alt="strp"></div>
                <div class="px-3 p-4">
                    <a class="button btn raflight" href="https://github.com/Rafrucin/TicTaCToeCPP" target="_blank">Github</a>
                </div>
                <div class="striph inside"></div>

            </div>
            <!-- end of single project -->

        </div>
    </div>

</section>
<!-- end of c++ projects -->

@code {

}
