@page "/cs"
<section>
    <div class="container-fluid raftitle">
        <!-- title -->
        <div class="row">
            <div class="col">
                <div class="raftitle d-flex align-items-center justify-content-center vh20"><h3>C# Projects</h3></div>
            </div>
        </div>
        <!-- end of title -->
        <div class="row no-gutters">
            <!-- single project -->
            <div class="col-md-6 rafdark no-gutters">
                <div class="text-center  py-5">Tournament Tracker</div>
                <div class="text-center px-5"><img src="img/tournament.png" class="img-fluid img-thumbnail" alt="strp"></div>
                <div class="text-center px-5 pt-5">Application intercorporate multiple form enabling user to run a sport tournament. For the ease of installation, it operates with data stored in txt or in SQL database.</div>
                <div class="rafdark p-5">
                    <a class="button btn raflight" href="https://github.com/Rafrucin/TournamentTracker" target="_blank">Github</a>
                </div>
            </div>
            <!-- end of single project -->
            <!-- single project -->
            <div class="col-md-6 raflight no-gutters">
                <div class="text-center  py-5">Warehouse</div>
                <div class="text-center px-5"><img src="img/warehouse.png" class="img-fluid img-thumbnail" alt="strp"></div>
                <div class="text-center px-5 pt-5">Handy desktop application to run a small warehouse and storing all data in a txt file. </div>
                <div class="raflight p-5">
                    <a class="button btn rafdark" href="https://github.com/Rafrucin/Warehouse" target="_blank">Github</a>
                </div>
            </div>
            <!-- end of single project -->

        </div>
    </div>
</section>
<!-- end of c# projects -->

@code {

}
