<!-- c# projects -->
<section>
    <div class="container-fluid raftitle">
        <!-- title -->
        <div class="row">
            <div class="col">
                <div class="raftitle d-flex align-items-center justify-content-center vh20"><h3>C# Projects</h3></div>
            </div>
        </div>
        <!-- end of title -->
        <div class="row no-gutters">
            <!-- single project -->
            <div class="col-md-6 rafdark no-gutters">
                <div class="text-center  pt-5">Tournament Tracker</div>
                <div class="text-center p-5"><img src="img/screen2.png" class="img-fluid" alt="strp" width="100%"></div>
                <div class="text-center px-3">Application intercorporate multiple form enabling user to run a sport tournament. For the ease of installation, it operates with data stored in txt or in SQL database. #C# #txt #SQL #Dapper  </div>
                <div class="p-4"><div class="btn raflight">Github</div></div>
            </div>
            <!-- end of single project -->
            <!-- single project -->
            <div class="col-md-6 raflight no-gutters">
                <div class="text-center  pt-5">Warehouse</div>              
                <div class="text-center p-5"><img src="img/screen4.png" class="img-fluid" alt="strp" width="100%"></div>
                <div class="text-center px-3">Handy desktop application to run a small warehouse and storing all data in a txt file. </div>
                <div class="p-4"><div class="btn rafdark">Github</div></div>
            </div>
            <!-- end of single project -->
>
        </div>
    </div>
</section>
<!-- end of c# projects -->

@code {

}
