<!-- .NET projects -->

<section>
    <div class="container-fluid raftitle">
        <div class="bgpic">
            <!-- title -->
            <div class="row">
                <div class="col">
                    <div class="raftitle d-flex align-items-center justify-content-center vh20"><h3>.NET Projects</h3></div>
                </div>
            </div>

            <!-- end of title -->
            <div class="row no-gutters">
                <!-- .net projects pic -->
                <div class="col-2 col-md-2 col-lg-3 "></div>
                <div class="col-10 col-md-7 col-lg-6 ">
                    <!-- single project -->
                    <div class="rafdark">
                        <div class="p-3">
                            Employee Management<br>
                            A Blazor based application performing CRUD operations on SQL database with some help from Entity Framework.
                            #Blazor #SQL #EntityFramwork #Automapper
                        </div>
                    </div>
                    <div class="d-md-none rafdark px-4">
                        <img src="img/screen1.png" class="img-fluid" alt="strp" width="100%">
                    </div>
                    <div class="rafdark p-4">
                        <div class="btn raflight">Github</div>
                    </div>
                </div>
                <div class="d-none d-md-block col-md-3 col-lg-3 rafdark pr-4 pt-5">
                    <img src="img/screen2.png" class="img-fluid" alt="strp" height="100%">
                </div>
                <!-- end of single project -->
                <div class="row no-gutters">
                    <!-- .net projects pic -->
                    <div class="col-2 col-md-2 col-lg-3 "></div>
                    <div class="col-10 col-md-7 col-lg-6 ">
                        <!-- single project -->
                        <div class="raflight">
                            <div class="p-3">
                                PROJEKT1<br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempus posuere enim, eu placerat sapien. Nullam cursus, mi et mollis consequat, nisl augue cursus augue, nec tempus urna nunc quis turpis.
                            </div>
                        </div>
                        <div class="d-md-none raflight px-4">
                            <img src="img/screen3.png" class="img-fluid" alt="strp" width="100%">
                        </div>
                        <div class="raflight p-4">
                            <div class="btn rafdark">Github</div>
                        </div>
                    </div>
                    <div class="d-none d-md-block col-md-3 col-lg-3 raflight pr-4 pt-5">
                        <img src="img/screen4.png" class="img-fluid" alt="strp" height="100%">
                    </div>
                    <!-- end of single project --><div class="row no-gutters">
                        <!-- .net projects pic -->
                        <div class="col-2 col-md-2 col-lg-3 "></div>
                        <div class="col-10 col-md-7 col-lg-6 ">
                            <!-- single project -->
                            <div class="rafdark">
                                <div class="p-3">
                                    PROJEKT1<br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempus posuere enim, eu placerat sapien. Nullam cursus, mi et mollis consequat, nisl augue cursus augue, nec tempus urna nunc quis turpis.
                                </div>
                            </div>
                            <div class="d-md-none rafdark px-4">
                                <img src="img/screen1.png" class="img-fluid" alt="strp" width="100%">
                            </div>
                            <div class="rafdark p-4">
                                <div class="btn raflight">Github</div>
                            </div>
                        </div>
                        <div class="d-none d-md-block col-md-3 col-lg-3 rafdark pr-4 pt-5">
                            <img src="img/screen3.png" class="img-fluid" alt="strp" height="100%">
                        </div>
                        <!-- end of single project -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- end of .NET projects -->
@code {

}
