<!-- footer -->
<footer>
    <div class="container-fluid raftitle">
        <!-- title -->
        <div class="row">
            <div class="col">
                <div class="raftitle d-flex align-items-center justify-content-around vh20">
                    <div>&copy; Raf's 2020 </div>
                    <div class="decoration-none">contact: rafal_rucinski@poczta.fm</div>
                </div>
            </div>
        </div>
        <!-- end of title -->
    </div>

</footer>


<!-- end of footer -->
@code {

}
