@page "/skills"

<!-- Skills -->
<section>
    <div class="container">
        <!-- title -->
        <div class="row">
            <div class="col">
                <div class="raftitle d-flex align-items-center justify-content-center vh20"><h3>Skills</h3></div>
            </div>
        </div>
        <!-- end of title -->
        <div class="row no-gutters">
            <!-- single skill -->
            <div class="col-lg-6 raflight ">
                <div class="p-5 text-center">
                    <strong>.NET</strong><br>
                    Creating web application using the power of .NET environment along with SQL databases and tools like Entity Framework, Dapper, Automapper and Blazor.
                </div>
                <div class="px-5 pb-5">
                    <div>
                        <NavLink class="rafdark btn" href="dotnet">Projects</NavLink>
                    </div>
                </div>
                <div class="striph"></div>
            </div>
            <!-- end of single skill -->
            <!-- single skill -->
            <div class="col-lg-6 rafdark outside">
                <div class="p-5 text-center">
                    <strong>C#</strong><br>
                    Always following SOLID and AGILE principles in development to meet the main project objectives.
                </div>
                <div class="px-5 pb-5">
                    <div>
                        <NavLink class="raflight btn" href="cs">Projects</NavLink>
                    </div>
                </div>
                <div class="striph inside"></div>
            </div>
        </div>
            <!-- end of single skill -->
            <!-- single skill -->
            <div class="row no-gutters">
                <div class="col-lg-6 rafdark outside">
                    <div class="p-5 text-center">
                        <strong>WEB</strong><br>
                        Very good practical understanding of HTML, CSS, JS and Bootstrap in order to produce effective and maintainable code.
                    </div>
                    <div class="px-5 pb-5">
                        <div>
                            <NavLink class="raflight btn" href="web">Projects</NavLink>
                        </div>
                    </div>
                    <div class="striph inside"></div>
                </div>
                <!-- end of single skill -->
                <!-- single skill -->
                <div class="col-lg-6 raflight outside">
                    <div class="p-5 text-center">
                        <strong>C++</strong><br>
                        My first programing language – best to learn the basics like encapsulation, inheritance, polymorphism and data abstraction.
                    </div>
                    <div class="px-5 pb-5">
                        <div>
                            <NavLink class="rafdark btn" href="cpp">Projects</NavLink>
                        </div>
                    </div>
                    <div class="striph inside"></div>
                </div>
                <!-- end of single skill -->


        </div>
    </div>
</section>
<!-- end of Skills -->
@code {

}
