<!-- title -->
<section>
    <div class="container-fluid raftitle">
        <div class="row">
            <div class="col-sm-9 raftitle d-flex align-items-center justify-content-center p-4">
                <div>
                    <h2>
                        First, solve the problem. Then, write the code.
                        <br> - John Johnson.
                    </h2>
                </div>
            </div>
            <div class="col-sm-3 d-none d-sm-block bgpic">

            </div>
        </div>
        <div class="row no-gutters">
            <div class="col striph d-sm-none"></div>
        </div>
    </div>
</section>
<!-- end of title -->

@code {

}
