<!-- WEB projects -->
<section>
    <div class="container-fluid raftitle">
        <!-- title -->
        <div class="row">
            <div class="col">
                <div class="raftitle d-flex align-items-center justify-content-center vh20"><h3>WEB Projects</h3></div>
            </div>
        </div>
        <!-- end of title -->
        <div class="row no-gutters bgpic">
            <!-- WEB projects pic -->

            <div class="col-10 col-md-7 col-lg-6">
                <!-- single project -->
                <div class="rafdark">
                    <div class="p-5 vh33">
                        TAROT<br>
                        A memory game using mainly JS/jQuery to operate the logic of the game and introducing sounds.<br /> #HTML #CSS #JS
                    </div>
                </div>
                <div class="d-md-none rafdark p-5">
                    <img src="img/tarot.png" class="img-fluid img-thumbnail" alt="strp">
                </div>
                <div class="rafdark p-5">
                    <a class="button btn raflight" href="https://github.com/Rafrucin/memory" target="_blank">Github</a>
                </div>
            </div>

            <div class="d-none d-md-block col-md-3 col-lg-3 rafdark p-5">
                <img src="img/tarot.png" class="img-fluid img-thumbnail" alt="strp">
            </div>
            <div class="col-2 col-md-2 col-lg-3 "></div>
        </div>

        <div class="row no-gutters bgpic">
            <!-- WEB projects pic -->
            <div class="col-10 col-md-7 col-lg-6 vh20">
                <!-- single project -->
                <div class="raflight vh33">
                    <div class="p-5">
                        HANGMAN<br/><br/>
                        Interactive game for 2 or more people. Application reads from the screen and performs manipulations on strings.<br/>
                        #HTML #CSS #JS

                    </div>
                </div>
                <div class="d-md-none raflight p-5">
                    <img src="img/hang.png" class="img-fluid img-thumbnail" alt="strp">
                </div>
                <div class="raflight p-5">
                    <a class="button btn rafdark" href="https://github.com/Rafrucin/hangman" target="_blank">Github</a>
                </div>
            </div>
            <div class="d-none d-md-block col-md-3 col-lg-3 raflight p-5">
                <img src="img/hang.png" class="img-fluid img-thumbnail" alt="strp">
            </div>
            <div class="col-2 col-md-2 col-lg-3 "></div>
        </div>

        <div class="row no-gutters bgpic">
            <!-- WEB projects pic -->
            <div class="col-10 col-md-7 col-lg-6 ">
                <!-- single project -->
                <div class="rafdark">
                    <div class="p-5 vh33">
                        PATTERNS<br>
                        A showcase of bootstrap layouts by applying different classes.<br />
                        #HTML #Bootstrap.

                    </div>
                </div>
                <div class="d-md-none rafdark p-5">
                    <img src="img/screen2.png" class="img-fluid img-thumbnail" alt="strp">
                </div>
                <div class="rafdark p-5">
                    <a class="button btn rafdark" href="https://github.com/Rafrucin/hangman" target="_blank">Github</a>
                </div>
            </div>

            <div class="d-none d-md-block col-md-3 col-lg-3 rafdark p-5">
                <img src="img/screen1.png" class="img-fluid img-thumbnail" alt="strp">
            </div>
            <div class="col-2 col-md-2 col-lg-3 "></div>
        </div>

    </div>
</section>
<!--end of web projects  -->

@code {

}
