<!-- footer -->
<footer>
    <div class="container-fluid raftitle">
        <!-- title -->
        <div class="row">
            <div class="col">
                <div class="text-center pt-4"><NavLink class="raftitle text-muted btn btn-dark ml-1" href="/">Home</NavLink></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="raftitle d-flex align-items-center justify-content-around p-5">
                    <div class="text-center" id="footerr">&copy; Raf's 2020 </div>                    
                </div>
            </div>
        </div>
        <!-- end of title -->
    </div>

</footer>

@code {

}
