<!-- footer -->
<footer>
    <div class="container-fluid raftitle">
        <!-- title -->
        <div class="row">
            <div class="col">
                <div class="raftitle d-flex align-items-center justify-content-around vh20">
                    <div id="footerr">&copy; Raf's 2020 </div>
                    <div id="footerr" class="decoration-none">contact: ravrucin@gmail.com</div>
                </div>
            </div>
        </div>
        <!-- end of title -->
    </div>

</footer>

@code {

}
