@page "/nav"

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col raftitle d-flex p-5">
                <div><NavLink class="nav-link raftitle text-muted btn btn-sm btn-dark ml-1" href="/">Home</NavLink></div>
                <div>
                    <NavLink class="nav-link raftitle text-muted btn btn-sm btn-dark ml-1" href="About">About</NavLink>
                </div>                
                <div>
                    <NavLink class="nav-link raftitle text-muted btn btn-sm btn-dark ml-1" href="skills">Skills</NavLink>
                </div>        
                <div>
                    <NavLink class="nav-link raftitle text-muted btn btn-sm btn-dark ml-1" href="dotnet">.Net</NavLink>
                </div>                
                <div>
                    <NavLink class="nav-link raftitle text-muted btn btn-sm btn-dark ml-1" href="cs">C#</NavLink>
                </div>       
                <div>
                    <NavLink class="nav-link raftitle text-muted btn btn-sm btn-dark ml-1" href="web">WEB</NavLink>
                </div>               
                <div>
                    <NavLink class="nav-link raftitle text-muted btn btn-sm btn-dark ml-1" href="cpp">C++</NavLink>
                </div>            
            </div>
        </div>

    </div>


</section>

@code {
    // home about skills .net web c# c++
}
